.container-full {
    /*  border: solid lawngreen 1px;*/
    /*margin-top: 40px;*/
}

.col-3, .col-4, .col-6 {
    padding: 7px;
   /* padding-left: 7px;*/

}

.col-8 {
  padding: 0px;
}

.cm-main {
  background-image: url("../img/bg.jpg");
  background-repeat: repeat-yt;
  background-size: 100%;
  background-attachment: fixed;
}

.cm-line, .cm-menu-top, .cm-footer {
  background-image: url("../img/bg-menu.png");
  height: 80px;
  width: 100%;
  color: #ffffff;

  z-index: 1000;
  display: block;
}

.cm-menu-top {
  position: fixed;
  margin-top: 0px;
  margin-bottom: 40px;
}

.cm-footer {
  position: absolute;
}

.cm-menu-top-links {
  /*margin: auto;
  width: 866px;*/
  height: 80px;
  /*border: solid #ffffff 1px;*/
  text-align: right;
}

.cm-menu-top-links a {
  margin-top: 25px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-left: solid #ffffff 1px;
  display: inline-block;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
}

.cm-menu-top-links a.active {
  color: #b4a20b;
}

.cm-menu-top-links a:first-child {
   border: none;
}

.cm-menu-top-links a:last-child {
  padding-right: 0px;
}

.cm-footer {
  margin-top: 20px;
}

.cm-footer-list {
  margin: auto;
  width: 866px;
  height: 80px;
  color: #ffffff;
}

.cm-footer-list .copyright {
  display: inline-block;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 80px;
  vertical-align: top;
}

.cm-footer-list .facebook, .cm-footer-list .vk, .cm-footer-list .twitter {
  background-image: url("../img/facebook.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 38px;
  height: 80px;
  display: inline-block;
  float: right;
}

.cm-footer-list .vk {
  background-image: url("../img/vk.png");
}

.cm-footer-list .twitter {
    background-image: url("../img/twitter.png");
}

.cm-logo {
  height: 216px;
  background-image: url("../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.cm-text {
 text-align: center;
 color: #ffffff;
 font-family: arial, helvetica, sans-serif;
 font-size: 12px;
 font-weight: bold;
 margin-top: 20px;
 line-height: 18px;
}

.cm-band-content {
  min-height: 100px;
  background-image: url("../img/bg-band-content.png");
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cm-head, .cm-head-gallery  {
   font-family: "Times New Roman";
   font-size: 20px;
   font-weight: bold;
   color: #4a4a4a;
   margin-bottom: 18px;
   display: block;
}

.cm-head-gallery {
  margin-bottom: 0px;
}

.cm-band-content-text {
   font-family: Arial;
   font-size: 12px;
   color: #4a4a4a;
   line-height: 18px;
   font-weight: 600;
}

.cm-photo, .cm-photo0, .cm-photo1,  .cm-photo2, .cm-photo3, .cm-photo4, .cm-photo5, .cm-photo6, .cm-photo7, .cm-photo8 {
  /*width: 198px;*/
  height: 194px;
  background-image: url("../img/foto_0.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.cm-photo1 {
  background-image: url("../img/foto_1.png");
}

.cm-photo2 {
    background-image: url("../img/foto_2.png");
}

.cm-photo3 {
    background-image: url("../img/foto_3.png");
}

.cm-photo4 {
    background-image: url("../img/foto_4.png");
}

.cm-photo5 {
    background-image: url("../img/foto_5.png");
}

.cm-photo6 {
    background-image: url("../img/foto_6.png");
}

.cm-photo7 {
    background-image: url("../img/foto_7.png");
}

.cm-photo8 {
    background-image: url("../img/foto_8.png");
}

.cm-photo-label1, .cm-photo-label2 {
  font-family: "Times New Roman";
  font-size: 18px;
  text-transform: capitalize;
  padding: 5px;
  color: #4a4a4a;
}

.cm-photo-label2 {
 font-size: 14px;
 text-transform: uppercase;
 padding-top: 0px;
}


.cm-say {
    height: 206px;
    background-image: url("../img/say.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 20px;
}

.cm-contact-form h5 {
   font-family: arial, helvetica, sans-serif;
   font-weight: bold;
   font-size: 14px;
   color: #4a4a4a;
}

.cm-contact-form input, .cm-contact-form textarea {
  background-color: transparent;
  background-image: url("../img/bg-contact-input.png");
  border: solid #4a4a4a 1px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.cm-contact-form textarea {
    height: 235px;
    min-height: 235px;
    max-height: 235px;
    padding: 5px;
}

.cm-submit {
   width: 80px;
   height: 35px;
   background-color: #4a4a4a;
   border: none;
   color: #ffffff;
   font-family: arial, helvetica, sans-serif;
   font-size: 14px;
}

.cm-submit:hover {
   background-color: #8C8989;
}

.cm-contact-contact {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
}

.cm-error {
  color: red;
  font-size: 12px;
  line-height: 14px;
}

.cm-gallery-photo-caption {
  text-align: right;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cm-gallery-photo {
  height: 465px;
 /* border: solid #4a4a4a 1px;*/
  margin-bottom: 20px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

.cm-gallery {
  height : 100px;
  width  : 84%;
  margin: 0 auto;
}

.cm-gallery .photo-contaner {
  margin-right: 10px;
  width  : 180px;
}

.cm-gallery .photo-title {
    text-align: center;
    color: #4a4a4a;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.cm-gallery .photo {
    background-color: #ffffff;
    height : 100px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}


.current-photo .photo {
   border: solid #ffffff 1px;
   /*opacity: 1;*/
}

.cm-events {
    height : 327px;
    width  : 84%;
    margin: 0 auto;
}

.cm-events .poster-contaner {
    margin-right: 10px;
    width  : 325px;
}

.cm-events .poster {
    background-color: #ffffff;
    height : 325px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.cm-events .poster-title {
    text-align: center;
    color: #4a4a4a;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.activePoster {
  /*border: solid white 1px;*/
  width  : 350px;
  height : 490px;
  margin: 0 auto;
  position: relative;
  margin-top: -570px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events:none; /* It's cool option for event tranzition throw html elements */
}

.cm-alboms {
  height: 137px;
}

.cm-alboms .photo {
  height: 137px;
}

.albom-content {
   /*border: solid #ffffff 1px;*/
   height: 460px;
}

.cm-music-player {
  background-image: url("../img/player-bg.png");
  height: 30px;
  margin-top: 7px;
}

.cm-music-player-prev, .cm-music-player-next, .cm-music-player-pause, .cm-music-player-play {
    background-image: url("../img/prev.png");
    height: 30px;
    width: 19px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    margin-left: 12px;
    float: left;
}

.cm-music-player-pause, .cm-music-player-play {
    height: 30px;
    width: 13px;
    background-image: url("../img/pause.png");
    margin-left: 10px;
    background-size: auto;
}

.cm-music-player-play {
    background-image: url("../img/play.png");
}

.cm-music-player-next {
    background-image: url("../img/next.png");
    margin-left: 10px;
}

.cm-music-player-progress, .cm-music-player-progress2 {
  float: left;
  height: 30px;
  /*border: solid #ffffff 1px;*/
  width: 680px;
  margin-left: 10px;
  background-image: url("../img/sound-progress.png");
  background-position: center;
  background-repeat: repeat-x;
}

.cm-music-player-progress2 {
  width: 50%;
  background-image: url("../img/sound-progress2.png");
  margin: 0;
}

.cm-music-player-time {
    float: left;
    height: 30px;
    color: #ffffff;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    margin-left: 10px;
    

}

.photo-contaner data {
  display: none;
}

.cm-albom-cover {
  height: 408px;
  background-image: url("../img/foto_0.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 7px;
}

.cm-albom-list {
    height: 408px;
    margin-right: 7px;
    overflow-y: auto;
}

.cm-albom-list table {
  margin: 0;
  padding: 0;
}
.cm-albom-list tr {
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #4a4a4a;
  text-transform: uppercase;
  cursor: pointer;
}

.cm-albom-list .active td{
  color: #ffffff !important;
}
.cm-albom-list td {
  border: none;
  padding: 0;
  padding-bottom: 7px;
}